---
const personalImageAlt = "Sinatrio Bimo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            My name is Sinatrio Bimo Wahyudi, though I go by <strong>Bimo</strong>. Hailing from a background in Mathematics and Natural Sciences during my high school tenure,
            I was first acquainted with the world of programming in my freshman year at Gunadarma University.
            Since then, I've delved into crafting digital solutions, particularly within the domains of <strong>Software Engineering</strong> and <strong>Artificial Intelligence.</strong>
            Currently, I am sharpening my prowess in server-side development as an integral member of
            the esteemed @discovery-carts team, nestled amidst the bustling epicenter <strong><a href="https://www.astronauts.id/" target="_blank" rel="noopener noreferrer">of Indonesia's rapid-fire quick-commerce revolution.</a></strong>
        </p>

        <p>
            Among my notable achievements, I'm particularly proud of spearheading the creation of <strong><a href="https://www.instagram.com/gunadarma.io/" target="_blank" rel="noopener noreferrer">Gunadarma IO</a></strong> - an incubator of advanced programming wisdom meticulously crafted to equip budding engineers for the rigors of technical interviews.
            Furthermore, my pivotal position as the Web Engineering Lead at <strong><a href="https://developers.google.com/community/gdsc?hl=id" target="_blank" rel="noopener noreferrer">Google Developer Student Clubs UG-Chapter</a></strong> not only highlights my dedication to cultivating talent but also underscores my unwavering commitment to cultivating a vibrant learning ecosystem within the realm of web engineering.
        </p>

        <p>
            Venturing into the dynamic realms of <strong>Business and Product</strong>, I embark on a quest to enrich my technological acumen through a strategic business lens. In this captivating journey, I wield a multifaceted expertise poised to ignite innovation and sculpt transformative solutions within the ever-evolving tapestry of modern commerce.
        </p>
    </div>

    <img width="200" height="200" src="../public/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>